<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LogIn and Registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-xs-6">
                    <h1>Registration</h1>
                    <% if(typeof(errors) != 'undefined' ) { %>
                        <% for (var x in errors) { %>
                            <h3>
                                <%= errors[x].message %>
                            </h3>
                        <% } %>
                    <% } %>
                    <hr>
                    <form class="" action="/registration" method="post">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="name" class="form-control" id="first_name" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="name" class="form-control" id="last_name" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" name="pwd">
                        </div>
                        <div class="form-group">
                            <label for="confirm_pwd">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirm_pwd" name="confirm_pwd">
                        </div>
                        <div class="form-group">
                            <label for="bday">Birthdate</label>
                            <input type="date" class="form-control" id="bday" name="bday">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <div class="col-xs-6">
                    <h1>Login</h1>
                    <% for (let dd in lg_err) { %>
                        <h3>
                            <%= lg_err[dd].msg %>
                        </h3>
                    <% } %>
                    <hr>
                    <form class="" action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" name="pwd">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>

    </body>
</html>